<div class="leftHalf" [ngClass]="displayText">
	<div class="col-xs-12 centerInput">
		Hide Map Under<input type="checkbox" [(ngModel)]="berks" (click)="toggle(); bucks.triggerResize()"/>
	</div>
	<div class="listContainer">
		<div class="listJerseys" *ngFor="let jersey of jerseys">
			<div class="inListJerseys col-xs-3">{{jersey.name}}</div>
			<div class="inListJerseys col-xs-3">{{jersey.team}} </div>
			<div class="inListJerseys col-xs-3">{{jersey.number}} </div>
			<div class=" inListJerseys col-xs-3">	
				<button type="button" class="rentBtn btn btn-success">
					Rent
				</button>
			</div>
		</div>
	</div>
	
</div>
<div class="mapCunt" [ngClass]="displayText">
	
	<sebm-google-map #bucks [latitude]="44.5008" [longitude]="-88.0573">
	  	<sebm-google-map-marker *ngFor="let jersey of jerseys" [latitude]="jersey.lat" [longitude]="jersey.long">
		</sebm-google-map-marker>
		<sebm-google-map-marker *ngFor="let jersey of markers" [latitude]="jersey.lat" [longitude]="jersey.long">
		</sebm-google-map-marker>
	</sebm-google-map>
</div>