<div class="col-xs-1">
</div>
<div class="col-xs-10">
	<div class="col-xs-12 myJerseys">
		<div class="col-xs-12 myJerseysTitle">
			My Jerseys Available Now:
		</div>
		<div class="jersey">
			<img src="../../../RODGERS.jpeg" height="100px" width="100px"> <br/>
			<button class="jerseyButton"> Edit </button> <br/>
			<button class="jerseyButton"> Delete </button>
		</div>
	</div>
	<div class="col-xs-12 jerseyHistory">
		<div class="col-xs-12 jerseyHistoryTitle">
			Jersey History
		</div>
		<div class="col-xs-12 tableHeader">
			<div class="col-xs-2 tableHead">
				Name
			</div>
			<div class="col-xs-2 tableHead">
				Team
			</div>
			<div class="col-xs-2 tableHead">
				Number
			</div>
			<div class="col-xs-2 tableHead">
				Price
			</div>
			<div class="col-xs-2 tableHead">
				Date
			</div>
			<div class="col-xs-2 tableHead">
				Rented By
			</div>
		</div>
		<div class="col-xs-12 tableRow">
			<div class="col-xs-2 tableItem">
				Rodgers
			</div>
			<div class="col-xs-2 tableItem">
				Packers
			</div>
			<div class="col-xs-2 tableItem">
				12
			</div>
			<div class="col-xs-2 tableItem">
				$14
			</div>
			<div class="col-xs-2 tableItem">
				2/6/2017
			</div>
			<div class="col-xs-2 tableItem">
				Me
			</div>
		</div>
		<div class="col-xs-12 tableRow">
			<div class="col-xs-2 tableItem">
				Rodgers
			</div>
			<div class="col-xs-2 tableItem">
				Packers
			</div>
			<div class="col-xs-2 tableItem">
				12
			</div>
			<div class="col-xs-2 tableItem">
				$14
			</div>
			<div class="col-xs-2 tableItem">
				2/6/2017
			</div>
			<div class="col-xs-2 tableItem">
				Me
			</div>
		</div>
		<div class="col-xs-12 tableRow">
			<div class="col-xs-2 tableItem">
				Rodgers
			</div>
			<div class="col-xs-2 tableItem">
				Packers
			</div>
			<div class="col-xs-2 tableItem">
				12
			</div>
			<div class="col-xs-2 tableItem">
				$14
			</div>
			<div class="col-xs-2 tableItem">
				2/6/2017
			</div>
			<div class="col-xs-2 tableItem">
				Me
			</div>
		</div>
		<div class="col-xs-12 tableRow">
			<div class="col-xs-2 tableItem">
				Rodgers
			</div>
			<div class="col-xs-2 tableItem">
				Packers
			</div>
			<div class="col-xs-2 tableItem">
				12
			</div>
			<div class="col-xs-2 tableItem">
				$14
			</div>
			<div class="col-xs-2 tableItem">
				2/6/2017
			</div>
			<div class="col-xs-2 tableItem">
				Me
			</div>
		</div>
		<div class="col-xs-12 tableRow">
			<div class="col-xs-2 tableItem">
				Rodgers
			</div>
			<div class="col-xs-2 tableItem">
				Packers
			</div>
			<div class="col-xs-2 tableItem">
				12
			</div>
			<div class="col-xs-2 tableItem">
				$14
			</div>
			<div class="col-xs-2 tableItem">
				2/6/2017
			</div>
			<div class="col-xs-2 tableItem">
				Me
			</div>
		</div>
	</div>
</div>
<div class="col-xs-1">
</div>