.sebm-google-map-container {
	height: 300px;	
}
p{
	background-color:purple;
}
.myJerseysTitle{
	padding: 10px;
    text-align: center;
    font-size: 24px;
    font-family: Sans-Serif;
    color:#000;
}
.jersey{
	border-width:2px;
	border-style:solid;
	border-color:#000000;
	display:inline-block;
}
.jerseyButton{
	width:100%;
}
.tableHeader{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	font-size: 18px;
	color: #000;
	text-align:center;
}
.tableHead{
	text-align: center;
}
.myJerseys{
	margin-bottom: 20px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-bottom: 20px;
}
.jerseyHistory{
	min-height:100px;
	color:#000;
}
.jerseyHistoryTitle{
	font-size:24px;
	text-align:center;
	margin-bottom:10px;
    font-family: Sans-Serif;

}
.tableRow{
	text-align: center;
}