<p>
  post-jersey works!
</p>
<div class="postBox col-xs-offset-3 col-xs-6">
	<form ng-submit="newSubmit()" #itemForm="ngForm">
		<div class="form-group">
			<input class="form-control" placeholder="Name of player">
			<input class="form-control" placeholder="Team of player">
			<input class="form-control" placeholder="Number of player">
			<input class="form-control" placeholder="Cost of rental">
			<input class="form-control" placeholder="Latitude of pickup">
			<input class="form-control" placeholder="Longitude of pickup">
		</div>
		<button type="button" class="btn btn-default" (click)="postJersey()"> berrrkssubmit </button>
	</form>
</div>
