<div class="col-xs-12 post">
			Post Jersey
</div>
<div class="postBox col-xs-offset-3 col-xs-6">
	<div class="form-group">
		<span>Name: <input [(ngModel)]="jersey.name" class="form-control" placeholder="Name of player"></span>
		<span>Team: <input [(ngModel)]="jersey.team"  class="form-control" placeholder="Team of player"> </span>
		<span>Number: <input type="number" [(ngModel)]="jersey.number" class="form-control" placeholder="Number of player"> </span>
		<span>Price: <input type="number" [(ngModel)]="jersey.price" class="form-control" placeholder="Cost of rental"> </span>
		<span>Latitude: <input type="number" [(ngModel)]="jersey.lat" class="form-control" placeholder="Latitude of pickup"> </span>
		<span>Longitude: <input type="number" [(ngModel)]="jersey.long" class="form-control" placeholder="Longitude of pickup"> </span>
		<span>Title: <input [(ngModel)]="jersey.title" class="form-control" placeholder="title"></span>
	</div>
	<div class="col-xs-12 center">
		<button type="button" class="btn btn-default" (click)="postJersey(jersey)"> berrrkssubmit
		 </button>
 	</div>

		<!-- <form ng-submit="newSubmit()" #itemForm="ngForm">
		<div class="form-group">
			<input class="form-control" placeholder="Name of player">
			<input class="form-control" placeholder="Team of player">
			<input class="form-control" placeholder="Number of player">
			<input class="form-control" placeholder="Cost of rental">
			<input class="form-control" placeholder="Latitude of pickup">
			<input class="form-control" placeholder="Longitude of pickup">
		</div>
		<button type="button" class="btn btn-default" (click)="postJersey()"> berrrkssubmit </button>
		bucks
	</form> -->
</div>
